.tx_bzdstaffdirectory_teamlist_person_name {
	font-weight: bold;
}

/*
	-------------------------------------
	CSS Buttons
	inspired by http://www.wellstyled.com/css-inline-buttons.html
	-------------------------------------
*/
.tx_bzdstaffdirectory_teamlist_detailLink a, .tx_bzdstaffdirectory_box_detailLink a, .tx_bzdstaffdirectory_detail_backlink a {
	_width:12em;
	font: bold 0.8em Verdana, sans-serif;
	border: 1px solid black;
	white-space: nowrap;
	text-decoration: none;
	vertical-align:middle;
	color: black;
	_width:1em; _cursor:hand;
	font-style: normal;
	margin:0; padding: 0.1em 0.5em;
	background: white;
}

.tx_bzdstaffdirectory_teamlist_detailLink a:hover, .tx_bzdstaffdirectory_box_detailLink a:hover, .tx_bzdstaffdirectory_detail_backlink a:hover {
	background: #666;
	color: white;
}


.tx-bzdstaffdirectory-pi1 table {
	border-spacing: 0px;
}

.tx-bzdstaffdirectory-pi1 table tr {

}

.tx_bzdstaffdirectory_teamlist TR TD {
	vertical-align: top;
	border-bottom: 1px dotted #ccc;
	padding: 5px;
}

.tx_bzdstaffdirectory_teamlist TR TD.left {

}

.tx_bzdstaffdirectory_teamlist TR TD.right {
	text-align: right;
	padding-left: 15px;
}


.tx_bzdstaffdirectory_teamlist TR.leader TD {
	background-color: #ddd;
}




table.tx_bzdstaffdirectory_detail {

}
table.tx_bzdstaffdirectory_detail tr {

}
table.tx_bzdstaffdirectory_detail tr td{
	vertical-align: top;
	padding: 5px;
}
table.tx_bzdstaffdirectory_detail tr td ul{
	list-style: square;
	padding-left: 1em;
}
table.tx_bzdstaffdirectory_detail td.header{
	border-bottom: 1px solid #ddd;
}
table.tx_bzdstaffdirectory_detail p.name{
	font-size: 1.5em;
	font-weight: bold;
	color: black;
	margin-bottom: 0px;
}
table.tx_bzdstaffdirectory_detail p.function{
	font-weight: bold;
	color: black;
	margin-top: 0px;
}
table.tx_bzdstaffdirectory_detail td.left{
	width: 305px;
}
table.tx_bzdstaffdirectory_detail td.right{
	width: 200px;
	padding-left: 10px;
}